.input-append
  = form_tag('#') do
    = url_field_tag 'appendedInputButton', nil, :class => 'input-xlarge'
    = button_tag(:type => 'submit', :class => 'btn') do
      = content_tag(:strong, 'Clip!')